= render "header_in"
.show-article-container
  .show-main-body
    .show-main-body-container
      .show-main-article
        .show-main-article-title-container
          .show-main-article-iconholder
            =image_tag 'smile2.png',class:"smile2"
          .show-main-user-name
            = @question.user.email
            さんの投稿
          .show-main-article-title
            = @question.title
          .show-main-article-time
            = @question.created_at
          %ul.show-main-article-tags
            %li.show-main-article-tags-first
              = @question.generation
            - @question.tag_list.each do |tag|
              %li.show-main-article-tags
                = tag
        .show-main-article-question-container
          .show-main-article-question-description-container
            %p.show-main-article-question-description
              = @question.description
      .show-main-sidebar
        .show-ad-space
          ADspace
  .show-main-answers

= render "footer"

