= render "articles/header_question"
.main
  .whole-area
    .signup-box
      .signup-title-box
        .signup-title
          Smaths!
      .signup-email-box
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .field-email
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .field
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "off"
          .field
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "off"
          .actions
            = f.submit "Sign up"
        = render "devise/shared/links"
