= render 'header_question'

.articlepage-body-new
  .box-container-new
    = form_for @question do |f|
      .question_title
        = f.text_field :title, class: "question_title", placeholder: 'タイトルを入力してください',autocomplete:'off'
      .question_option
        = f.radio_button :generation, '中学生'
        中学生
        = f.radio_button :generation, '高校生'
        高校生
        = f.radio_button :generation, '大学生'
        大学生
        =f.label :image, class: "imagebutton" do
          = f.file_field :image, class: 'imageform', style: 'display:none'
          = image_tag 'imageicon.png',class: 'imageicon',id: 'imageicon'
      .question_box
        = f.text_area :description, class: 'question_box', placeholder: '質問内容を入力してください(1000文字以内)',autocomplete: 'off'
      %img{id:'question_image',style: 'width:280px;height:280px,border:none;'}
      .question_submit
        = f.submit '送信', class: 'question_submit_button'
= render 'footer'

