= render "articles/header_in"
.userpage-body
  .userpage-container
    .userpage-sidebar
      .userpage-icon-container
        = image_tag 'samplehaibara.png',class:"userpage-icon"
      .userpage-userinfo
        .userpage-username
          aritomi
          .userpage-profile-edit
            プロフィールを編集
        .userpage-userintroduction
          テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト
    .userpage-mainbody
      .userpage-userdata
        .userpage-userdata-container
          aritomiさんのデータ
      .userpage-userlogs
        .userpage-userlogs-details
          .userpage-userlogs-tabs
            %a.home-tab{:href => "#view1"} 質問した投稿
          .userpage-userlogs-tabs
            %a.magazine-tab{:href => "#view2"} 回答した投稿
          .userpage-userlogs-tabs
            %a.magazine-tab{:href => "#view2"} いいねした投稿
      #view1.tab-content
        = render "didquestion"
      #view2.tab-content
        = render "didanswer"
      #view3.tab-content
        = render "didlike"
= render "articles/footer"
