= render "articles/header_in"
.userpage-body
  .userpage-container
    .userpage-sidebar
      .userpage-icon-container
        = image_tag 'samplehaibara.png',class:'userpage-icon'
      .userpage-userinfo
        .userpage-username
          = @user.nickname
          .userpage-profile-edit
            プロフィールを編集
        .userpage-userintroduction
          = @user.pr
    //.userpage-mainbody
      //.userpage-userdata
        //.userpage-userdata-container
          //aritomiさんのデータ
      .userpage-userlogs
        %ul.userpage-userlogs-details
          .userpage-userlogs-tabs
            %li
              %a.home-tab{href: '#view1'} 質問した投稿
          .userpage-userlogs-tabs
            %li
              %a.magazine-tab{href: '#view2'} 回答した投稿
          .userpage-userlogs-tabs
            %li
              %a.magazine-tab{href: '#view3'} 保存した投稿
      #view1.tab-content
        = render "askedQuestion"
      #view2.tab-content
        = render "answered"
      #view3.tab-content
        = render "liked"
= render "articles/footer"
